body{
    background-image: url("https://fondosmil.com/fondo/9928.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor{
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    padding: 30px;
    grid-template-areas: 
    "BarraSuperior1 BarraSuperior1 BarraSuperior1 BarraSuperior1"
    "BarraSuperior2 BarraSuperior2 BarraSuperior2 BarraSuperior2"
    "Contenido Contenido Contenido ContenidoExtra"
    "Contenido Contenido Contenido ContenidoExtra"
    ;
}

.BarraSuperior1{
    grid-area: BarraSuperior1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.GamerBlog{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.LogoBlog{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.NombrePagina{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(27, 55, 214);
    font-style: oblique;
    text-shadow: 2px 2px 2px rgb(218, 153, 32);
    font-size: 30px;
}

.SearchBar{
    position: relative;
    width: 30%;
}

.Buscador{
    height: 40px;
    width: 83%;
    margin-left: 45%;
    font-family: Arial;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(228, 226, 226);
    padding-left: 10px;
}

.Buscador:hover{
    box-shadow: 3px 3px 10px rgb(206, 201, 201);
}

.Buscador:focus-visible{
    border: 0px;
    outline: white;
}

.IconBusqueda{
    color: #191919;
    position: absolute;
    height: 23px;
    width: 5%;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
  
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

nav{
	max-width: 300px;
    margin-left: 40%;
	background-color: #333;
	font-size: 20px;
	margin-top: 10x;
    margin-right: 20px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
}

.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
    font-family: Arial;
}

.menu-horizontal > li:hover{
	background-color: rgb(51, 70, 240);
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
    background-color: gray;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.Usuario{
    width: 200px;
    padding: 5px;
    font-family: Georgia;
}

.Contrasena{
    width: 200px;
    padding: 5px;
    font-family: Georgia;
}

.Ingresar{
    height: 30px;
    width: 200px;
    font-family: Georgia;
}


.BarraSuperior2{
    grid-area: BarraSuperior2;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.Categorias{
	max-width: 100%;
	background-color: #333;
	font-size: 20px;
	margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 30%;
}

.menu-categorias{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.menu-categorias > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.menu-categorias > li:hover{
	background-color: rgb(51, 70, 240);
}

.menu-opciones{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}

.menu-categorias li:hover .menu-opciones{
	display: block;
}
.menu-opciones li:hover{
	background-color: black;
}

.menu-opciones li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}

h3{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px;
}


h3:hover{
    border-bottom: 2px solid rgb(77, 77, 201);
    transform:scale(1.1);
}

.Contenido{
    grid-area: Contenido;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 2px solid gray;
    padding: 10px;
}

.Contenido1{
    display: flex;
    flex-direction: column;
}


.Titulo1{
    font-size: 30px;
    font-family: Arial;
}

.Zelda{
    height: 500px;
    width: 850px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Noticia1Parte1{
    font-size: 20px;
    font-family: "Calibri";
}

.Noticia1Parte2{
    font-size: 20px;
    font-family: "Calibri";
    color: rgb(38, 38, 235);
}

.Noticia1Parte3{
    font-size: 20px;
    font-family: "Calibri";
}

.Noticia1Parte4{
    font-size: 20px;
    font-family: "Calibri";
    color: gray;
    margin-left: 50px;
}

.Contenido2{
    display: flex;
    flex-direction: column;
}

.Titulo2{
    font-size: 30px;
    font-family: Arial;
}

.DLC{
    height: 500px;
    width: 850px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Noticia2{
    font-size: 20px;
    font-family: "Calibri";
}

.Contenido3{
    display: flex;
    flex-direction: column;
}

.Titulo3{
    font-size: 30px;
    font-family: Arial;
}

.Xbox{
    height: 500px;
    width: 850px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Noticia3parte1{
    font-size: 20px;
    font-family: "Calibri";
}

.Noticia3parte2{
    font-size: 20px;
    font-family: "Calibri";
    margin-left: 30px;
    font-style: italic;
}

.ContenidoExtra{
    grid-area: ContenidoExtra;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Registro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CampoTexto{
    height: 25px;
    width: 300px;
    font-family: Arial;
    padding: 5px;
}

.registrarse{
    font-size: 18px;
    font-family:'Segoe UI';
}

.CrearCuenta{
    height: 30px;
    width: 100px;
    font-family: Arial;
    font-size: 15px;
    background-color: rgb(42, 70, 233);
    color: white;
}

.CrearCuenta:hover{
    transform:scale(1.1);
}

.CrearCuenta:focus-visible{
    color: blue;
}

.NoticiaExtra{
    height: 350px;
    width: 500px;
}

.PublicacionExtra1{
    margin-top: 40px;
    position: relative;
    display: inline-block;
}

.texto-centrado1{
    position: absolute;
    top: 190px;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    font-size: 30px;
    -webkit-text-stroke: 0.3px black;
}

.PublicacionExtra2{
    margin-top: 40px;
    position: relative;
    display: inline-block;
}

.texto-centrado2{
    position: absolute;
    top: 150px;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    font-size: 30px;
    -webkit-text-stroke: 0.3px black;
}

.PublicacionExtra3{
    margin-top: 40px;
    position: relative;
    display: inline-block;
}

.texto-centrado3{
    position: absolute;
    top: 220px;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    font-size: 30px;
    -webkit-text-stroke: 0.3px black;
}

.PublicacionExtra4{
    margin-top: 40px;
    position: relative;
    display: inline-block;
}

.texto-centrado4{
    position: absolute;
    top: 190px;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    font-size: 30px;
    -webkit-text-stroke: 0.3px black;
}

.SeguirRedes{
    margin-top: 20%;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium';
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin-top: 7%;
}

.Facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
}

.facebook-icon{
    height: 30px;
    width: 30px;
}

.TituloRedSocial{
    font-size: 20px;
    font-family: 'Times New Roman';
}

.Facebook:hover{
    transform:scale(1.1);
    color: rgb(212, 142, 62);
}

.Twitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
}

.twitter-icon{
    height: 31px;
    width: 31px;
    border-radius: 50%;
}

.Twitter:hover{
    transform:scale(1.1);
    color: rgb(212, 142, 62);
}

.Instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
}

.instagram-icon{
    height: 31px;
    width: 31px;
    border-radius: 50%;
}

.Instagram:hover{
    transform:scale(1.1);
    color: rgb(212, 142, 62);
}

.Youtube{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
}

.youtube-icon{
    height: 31px;
    width: 31px;
    border-radius: 50%;
}

.Youtube:hover{
    transform:scale(1.1);
    color: rgb(212, 142, 62);
}

@media screen and (max-width: 500px){

    .LogoBlog{
        height: 30px;
        width: 20%;
    }
    
    .NombrePagina{
        font-size: 20px;
    }
    
    .SearchBar{
        position: relative;
        width: 20%;
    }
    
    .Buscador{
        margin-left: 25%;
        height: 30px;
    }
    
    .IconBusqueda{
        left: 95%;
        width: 7%;
    }

    nav{
        margin-left: 5%;
        font-size: 15px;
    }
    
    .menu-horizontal > li > a{
        padding: 5px 10px;
    }


    .menu-vertical{
        width: 80px;
    }
    
    .Usuario{
        width: 150px;
        padding: 5px;
        font-family: Georgia;
    }
    
    .Contrasena{
        width: 150px;
        padding: 5px;
        font-family: Georgia;
    }
    
    .Ingresar{
        height: 30px;
        width: 150px;
        font-family: Georgia;
    }

    .Categorias{
        margin-left: 1%;
        font-size: 15px;
    }

    .menu-categorias > li > a{
        padding: 7px 12px;
    }

    .menu-opciones{
        width: 150px;
    }

    .Titulo1{
        font-size: 20px;
    }
    
    .Zelda{
        height: 200px;
        width: 450px;
    }

    .Noticia1Parte1{
        font-size: 15px;
    }
    
    .Noticia1Parte2{
        font-size: 15px;
    }
    
    .Noticia1Parte3{
        font-size: 15px;
    }
    
    .Noticia1Parte4{
        font-size: 15px;
    }

    .Titulo2{
        font-size: 20px;
    }
    
    .DLC{
        height: 200px;
        width: 450px;
    }
    
    .Noticia2{
        font-size: 15px;
    }

    .Titulo3{
        font-size: 20px;
    }
    
    .Xbox{
        height: 200px;
        width: 450px;;
    }
    
    .Noticia3parte1{
        font-size: 15px;
    }
    
    .Noticia3parte2{
        font-size: 15px;
    }

    .CampoTexto{
        height: 25px;
        width: 250px;
    }
    
    .registrarse{
        font-size: 15px;
    }
    
    .CrearCuenta{
        height: 25px;
        width: 90px;
        font-size: 12px;
    }

    .NoticiaExtra{
        height: 250px;
        width: 400px;
    }
    
    .texto-centrado1{
        top: 170px;
        font-size: 18px;
    }
    
    .texto-centrado2{
        top: 150px;
        font-size: 18px;
    }

    .texto-centrado3{
        top: 170px;
        font-size: 18px;
    }

    .texto-centrado4{
        top: 170px;
        font-size: 18px;
    }

    .SeguirRedes{
        margin-top: 10%;
        font-size: 18px;
    }

    .redes-sociales{
        gap: 7%;
        margin-top: 6%;
    }

    .TituloRedSocial{
        font-size: 15px;
    }
    
    .facebook-icon{
        height: 22px;
        width: 22px;
    }
    
    .twitter-icon{
        height: 23px;
        width: 23px;
    }
    
    .instagram-icon{
        height: 23px;
        width: 23px;
    }
    
    .youtube-icon{
        height: 23px;
        width: 23px;
    }

}






